@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lalezar&family=Manrope&family=Montserrat:wght@900&family=Outfit&display=swap');
*{
    padding:0px;
    margin: 0px;
    font-size: 16px;
}
.navbar{
    padding: 12px 8px !important
}
.logo-div{
    display: flex;
}

.navbar-brand{
    margin-left:10px;
    font-family:Inter;
}

.nav-link{
    font-family: Inter;
}
.hero-section{
    padding:20px 20px;
}
.hero-text{
    font-family:Montserrat;
    font-size: 2rem;
    color:black;
}
.hero-paragraph{
    font-family: Inter;
    color:hsl(211, 12%, 48%);
}
.hero-icon-div{
    border: 1px solid hsl(204, 8%, 76%);;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}
.hero-links{
    text-decoration: none;
    color: black;
    font-family: Inter;
    margin-left: 5px;
}
.brand-icon-div{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 133px;
}
.airbnb-text{
    font-family: Outfit;
    font-size: 1.9rem;
    font-weight: bold;
}
.twitter-text{
    font-family: Manrope;
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 3px;
}
.microsoft-text{
    font-family: Outfit;
    font-size: 1.4rem;
    margin-left: 3px;
}
.spotify-text{
    font-family: Manrope;
    font-size: 1.4rem;
    font-weight: bold;
}
.mailchimp-text{
    font-family: Lalezar;
    margin-left: 3px;
    font-size: 1.4rem;
}
.linkedin-text{
    font-family: Manrope;
    font-size: 1.4rem;
    font-weight: bold;
}
.features-section{
    background-color: hsl(0, 0%, 97%);
}
.feature-one-title{
    font-family: Montserrat;
    font-size:1.7rem;
}
.feature-one-paragraph{
    font-family: Inter;
    color:hsl(211, 12%, 48%);
}  
.feature-one-img{
    display: none;
}
.features-div{
    display: flex;
    align-content: center;
}
.fa-circle-check{
    color:rgb(93, 63, 211);
}
.features-one{
    margin-left: 13px;
    font-size: 0.9rem;
}
.part-feature-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.feature-two-div{
    padding-top:30px;
}
.stat-one{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
}
.stat-text{
    color:rgb(93, 63, 211);
    font-family: Inter;
}
.stat-title{
    font-family: Montserrat;
}
.stat-paragraph{
    font-family: Inter;
    color:hsl(211, 12%, 48%);
}
.stat-link-div{
    display: flex;
    align-items: center;
    color:rgb(93, 63, 211);
    width: 190px;
    justify-content: space-between;
}
.stat-link-text{
    color:rgb(93, 63, 211);
    text-decoration: none;
    font-family: Inter;
}
.stat-link-icon{
    color:rgb(93, 63, 211);
    font-size:2rem;
}
.stat-examples-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 145px;
    margin-bottom:10px;
}
.stat-example-title{
    font-family: Inter;
    font-weight:bold;
}
.stat-example{
    font-family: Inter;
    color:hsl(211, 12%, 48%);
}
@media screen and (min-width:200px) and (max-width:426px){
    .landwind-logo{
        width: 22px;
    }
    .navbar-nav a:is(:link, :active, :visited).active{
        background:rgb(93, 63, 211);
        color:white;
        padding: 7px;
        margin-top: 10px;
        border-radius: 5px;
    }
    .hero-banner{
        display:none;
    }
    .hero-paragraph{
        font-size: 0.9rem;
        letter-spacing: 1px;
        margin-top: 2px;
    }
    .hero-links-div{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height:115px;
    }
    .brands-icon-section{
        display: grid;
        column-gap: 50px;
        grid-template-columns: auto auto;
        padding: 17px 25px 40px 25px;
        row-gap:30px ;
    }
    .sub-hero-icon{
        width: 40px;
    }
    .features-section{
        padding:40px 30px 50px 20px;
    }
    .features-section{
        height: 1050px;
    }
    .feature-one-div{
        height: 500px;
    }
    .features-div{
        width:300px;
    }
    .stat-section{
        padding: 17px 25px 40px 25px;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .landwind-logo{
    width: 33px;
    }
    .navbar-brand{
        font-weight:500 ;
    }
    .nav-link{
        font-weight: 500!important;
    }
    .navbar-nav a:is(:link, :active, :visited).active{
        background:rgb(93, 63, 211);
        color:white;
        padding: 7px;
        margin-top: 10px;
        border-radius: 5px;
    }
    .hero-banner{
        display:none;
    }
    .hero-links-div{
       display: flex;
       justify-content: space-between;
       width:350px;
    }
    .hero-icon-div{
        padding-left:20px;
        padding-right:20px;
    }
    .hero-links{
        font-size:0.9rem
    }
    .hero-text{
        font-size:2.6rem!important;
    }
    .brands-icon-section{
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap:50px;
        padding: 17px 25px 50px 20px;
    }
    .sub-hero-icon{
        width: 40px;
    }
    .features-section{
        padding:40px 30px 50px 20px;
    }
    .features-section{
        height: 700px;
    }
    .feature-one-div{
        height: 320px;
    }
    .stat-section{
        padding: 17px 25px 50px 20px; 
    }
    .stat-title{
        font-size:1.6rem!important;
    }
    .mini-stat-div{
       display: grid;
       grid-template-columns: auto auto;
       column-gap: 20px;
    }
}
@media screen and (min-width:769px) and (max-width:2560px){
    .landwind-logo{
        width: 40px;
    }
    .navbar-brand{
        font-weight:500 ;
        font-size:1.4rem !important;
    }
    .navbar-nav a:is(:link, :active, :visited).active{
        color:rgb(93, 63, 211);
    }
    .nav-link{
        font-weight: 500!important;
        font-size: 1rem!important;
    }
    .navbar-nav{
        display: flex;
        justify-content: space-evenly;
        margin-left: 100px;
        width:600px;
    }
    .hero-section{
        display:flex;
        align-items: center;
        padding-top: 30px;
    }
    .hero-icon-div{   
        display: flex;
        align-items: center;
    }
    .hero-banner{
        width: 400px;
    }
    .hero-text{
        font-size:2.6rem!important;
    }
    .hero-paragraph{
        font-size: 1.2rem;
    }
    .hero-links-div{
        position: relative;
        top:10px;
        display: flex;
        justify-content: space-between;
        width:365px;
     }
     .hero-icon-div{
         padding-left:20px;
         padding-right:20px;
     }
     .brands-icon-section{
        display: flex;
        justify-content: space-around;
        padding-top:25px;
        padding-bottom: 50px;
     }
     .sub-hero-icon{
        width: 36px;
    }
    .features-section{
        padding:100px 30px 50px 20px;
        height: 1100px;
    }
    .feature-one-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 400px;
    }
    .feature-one-img{
        display: block;
        width: 425px;
    }
    .feature-one-paragraph{
        font-size: 1rem!important;
    }
    .part-feature-one{
        padding-right: 50px;
    }
    .feature-two-div{
        margin-top:60px;
    }
    .part-feature-two{
        padding-left:50px;
        padding-right: 0px!important;
    }
    .stat-section{
        display: flex;
    }
    .mini-stat-div{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
     }
}
@media screen and (min-width:1200px) and (max-width:1440px){
    .navbar{
        padding-left: 100px!important;
        padding-right: 200px!important;
    }
    .hero-section{
        padding-left: 100px!important;
        padding-right: 50px!important;
    }
    .hero-text{
        font-size:3.5rem!important;
    }
    .hero-paragraph{
       padding-right: 60px;
    }
    .hero-banner{
        width:550px;
    }
    .brands-icon-section{
        padding-left: 50px!important; 
        padding-right: 50px!important;
    }
    .features-section{
        padding-left: 100px!important;
        padding-right: 100px!important;
    }
    .feature-one-img{
        width:550px;
    }
}
@media only screen and (min-width:2559px) and (max-width:2560px){
    .navbar{
        padding-left: 650px!important;
        padding-right: 650px!important;
    }
    .hero-section{
        padding-left: 650px!important;
        padding-right: 650px!important;
    }
    .hero-text{
        font-size:3.5rem!important;
    }
    .hero-paragraph{
       padding-right: 60px;
    }
    .hero-banner{
        width:550px;
    }
    .brands-icon-section{
        padding-left: 600px!important; 
        padding-right: 600px!important;
    }
    .features-section{
        padding-left: 650px!important;
        padding-right: 650px!important;
    }
    .feature-one-img{
        width:650px;
    }
}