@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lalezar&family=Manrope&family=Montserrat:wght@900&family=Outfit&family=PT+Sans&family=Raleway:wght@100&display=swap');
*{
    padding:0px;
    margin: 0px;
    font-size: 16px;
}
.navbar{
    padding: 12px 8px !important
}
.logo-div{
    display: flex;
    justify-content: center!important;
}

.navbar-brand{
    margin-left:10px;
    font-family:Inter;
}

.nav-link{
    font-family: Inter;
}
.hero-section{
    padding:20px 20px;
}
.hero-text{
    font-family:Montserrat;
    font-size: 2rem;
    color:black;
}
.hero-paragraph{
    font-family: Inter;
    color:hsl(211, 12%, 48%);
}
.hero-icon-div{
    border: 1px solid hsl(204, 8%, 76%);;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}
.hero-links{
    text-decoration: none;
    color: black;
    font-family: Inter;
    margin-left: 5px;
}
.brand-icon-div{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 133px;
}
.airbnb-text{
    font-family: Outfit;
    font-size: 1.9rem;
    font-weight: bold;
}
.twitter-text{
    font-family: Manrope;
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 3px;
}
.microsoft-text{
    font-family: Outfit;
    font-size: 1.4rem;
    margin-left: 3px;
}
.spotify-text{
    font-family: Manrope;
    font-size: 1.4rem;
    font-weight: bold;
}
.mailchimp-text{
    font-family: Lalezar;
    margin-left: 3px;
    font-size: 1.4rem;
}
.linkedin-text{
    font-family: Manrope;
    font-size: 1.4rem;
    font-weight: bold;
}
.features-section{
    background-color: hsl(0, 0%, 97%);
}
.feature-one-title{
    font-family: Montserrat;
    font-size:1.7rem;
    color:black;
}
.feature-one-paragraph{
    font-family: Inter;
    color:hsl(211, 12%, 48%);
}  
.feature-one-img{
    display: none;
}
.features-div{
    display: flex;
    align-content: center;
}
.fa-circle-check{
    color:rgb(93, 63, 211);
}
.features-one{
    margin-left: 13px;
    font-size: 0.9rem;
}
.part-feature-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.feature-two-div{
    padding-top:30px;
}
.stat-one{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
}
.stat-text{
    color:rgb(93, 63, 211);
    font-family: Inter;
}
.stat-title{
    font-family: Montserrat;
    color:black;
}
.stat-paragraph{
    font-family: Inter;
    color:hsl(211, 12%, 48%);
}
.stat-link-div{
    display: flex;
    align-items: center;
    color:rgb(93, 63, 211);
    width: 190px;
    justify-content: space-between;
}
.stat-link-text{
    color:rgb(93, 63, 211);
    text-decoration: none;
    font-family: Inter;
}
.stat-link-icon{
    color:rgb(93, 63, 211);
    font-size:2rem;
}
.stat-examples-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom:10px;
}
.stat-example-title{
    font-family: Inter;
    font-weight:bold;
    color:black;
}
.stat-example{
    font-family: Inter;
    color:hsl(211, 12%, 48%);
}
.testimonial-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:hsl(0, 0%, 97%);
}
.fa-quote-left{
    font-size: 3.5rem;
    color: hsl(211, 12%, 48%);
    padding-bottom:10px;
}
.client-review{
    font-family: Inter;
    font-size: 1.1rem;
    text-align: center;
}
.client-img{
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}
.divider{
    margin-left: 10px;
}
.client-title{
    margin-left:9px;
    margin-top: 5px;
    font-family:Raleway ;
    color:black;
}
.client-div{
    display: flex;
   align-items: center;
   justify-content: space-around;
}
.price-section{
    display: flex;
    flex-direction: column;
    padding-top:100px;
    padding-bottom: 100px;
}
.price-title{
    font-family: Montserrat;
    color:black;
    text-align: center;
    font-size: 1.7rem;
}
.price-title-paragraph{
    text-align: center;
    font-family:Inter;
    padding: 13px 20px 5px 20px;
}
.price-box{
    border: 1px solid whitesmoke;
    padding: 25px 20px 25px 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 2px whitesmoke;
}
.price-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-div-title{
    font-family: PT Sans;
    font-weight: bold;
    color:black;
}
.price-div-sub-title{
    font-family:Inter;
    text-align: center;
}
.price-subscription-div{
    display: flex;
}
.price{
    position: relative;
    top:10px;
    font-family: Montserrat;
    font-size: 2.6rem;
    letter-spacing: 1px;
}
.price-duration{
    align-self: end;
}
.plan-mini-div{
    display: flex;
}
.price-plan-offer{
    margin-left: 13px;
    font-family: Inter;
}
.price-plan-offer-two{
    font-family: Inter;
    font-weight: 600;
}
.subscription-plan-offers-div{
    padding-top: 25px;
}
.btn-div{
    display: flex;
    justify-content: center;
}
.get-started-btn{
    background-color: rgb(93, 63, 211);
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-size: 1.1rem;
    margin-top: 20px;
    width: 100%;
}
.get-started-btn:hover{
    background-color: rgb(93, 63, 211);
    opacity: 0.9;
}
.fa-check{
    color:hsl(137, 100%, 45%);
}
.faq-section{
    text-align: center;
}
.faq-heading{
    font-family: Montserrat;
    font-size: 1.7rem;
}
.accordion-btn{
    font-family: Inter;
}
.accordion-list{
    text-align: start;
}
.free-trial-section{
    text-align: center;
    background-color: hsl(0, 0%, 97%);
}
.free-trial-heading{
    font-family: Montserrat;
    font-size:1.7rem;
}
.free-trial-paragraph{
    font-family: Inter;
    color: hsl(211, 12%, 48%);
    padding-top: 15px;
}
.free-trial-btn{
    position: relative;
    top: 10px;
    background-color: rgb(93, 63, 211);
    color:white;
    font-family: Inter;
    padding: 13px 20px 13px 20px;
    text-decoration: none;
    border-radius: 8px;
}
.footer-link-title{
    font-family: Inter;
}
.footer-link-list{
    list-style:none;
}
.footer-link-list a{
    position: relative;
    right:30px;
    color: hsl(211, 12%, 48%);
    font-family: Inter;
    text-decoration: none;
}
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:180px;
    border-top: 1px solid hsl(204, 8%, 76%);
}
.footer-paragraph{
    font-family:Inter;
    color:hsl(211, 12%, 48%);
    text-align: center;
    margin-top:13px;
}
.footer-icons-div{
    display: flex;
    justify-content: space-around;
    width: 170px;
}
.footer-icon{
    font-size: 1.2rem;
    color: hsl(211, 12%, 48%);
}
@media screen and (min-width:200px) and (max-width:426px){
    .landwind-logo{
        width: 22px;
    }
    .navbar-nav a:is(:link, :active, :visited).active{
        background:rgb(93, 63, 211);
        color:white;
        padding: 7px;
        margin-top: 10px;
        border-radius: 5px;
    }
    .hero-banner{
        display:none;
    }
    .hero-paragraph{
        font-size: 0.9rem;
        letter-spacing: 1px;
        margin-top: 2px;
    }
    .hero-links-div{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height:115px;
    }
    .brands-icon-section{
        display: grid;
        column-gap: 50px;
        grid-template-columns: auto auto;
        padding: 17px 25px 40px 25px;
        row-gap:30px ;
    }
    .sub-hero-icon{
        width: 40px;
    }
    .features-section{
        padding:40px 30px 50px 20px;
    }
    .features-section{
        height: 1100px;
    }
    .feature-one-div{
        height: 500px;
    }
    .feature-two-div{
        height: 550px;
    }
    .features-div{
        width:300px;
    }
    .stat-section{
        padding: 17px 25px 0px 20px;
    }
    .stat-examples-div{
        height: 145px;
    }
    .mini-stat-div{ 
       padding-top: 20px;
    }
    .client-title{
        font-size: 0.9rem;
    }
    .testimonial-section{
        padding: 17px 25px 17px 20px;
    }
    .price-section{
        padding: 35px 25px 17px 20px;
    }
    .flex-price-boxes{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .faq-section{
        padding: 20px 25px 17px 25px;
    }
    .free-trial-section{
        height: 250px;
        padding: 30px 25px 18px 25px;
    }
    .footer-links-section{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
        padding:30px 25px 18px 25px;
    }
    .footer-section{
        padding: 30px 25px 18px 25px;
    }
}
@media screen and (min-width:481px) and (max-width:1000px){
    .landwind-logo{
    width: 33px;
    }
    .navbar-brand{
        font-weight:500 ;
    }
    .nav-link{
        font-weight: 500!important;
    }
    .navbar-nav a:is(:link, :active, :visited).active{
        background:rgb(93, 63, 211);
        color:white;
        padding: 7px;
        margin-top: 10px;
        border-radius: 5px;
    }
    .hero-banner{
        display:none;
    }
    .hero-links-div{
       display: flex;
       justify-content: space-between;
       width:350px;
    }
    .hero-icon-div{
        padding-left:20px;
        padding-right:20px;
    }
    .hero-links{
        font-size:0.9rem
    }
    .hero-text{
        font-size:2.6rem!important;
    }
    .brands-icon-section{
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap:50px;
        padding: 17px 25px 50px 20px;
    }
    .sub-hero-icon{
        width: 40px;
    }
    .features-section{
        padding:40px 30px 50px 20px;
    }
    .features-section{
        height: 700px;
    }
    .feature-one-div{
        height: 320px;
    }
    .stat-section{
        padding: 17px 25px 0px 20px; 
    }
    .stat-title{
        font-size:1.6rem!important;
    }
    .stat-examples-div{
        height: 145px;
    }
    .mini-stat-div{
       display: grid;
       grid-template-columns: auto auto;
       column-gap: 20px;
       padding-top: 20px;
    }
    .testimonial-section{
        padding: 20px 25px 20px 20px; 
    }
    .client-review{
        font-weight:bold;
    }
    .price-section{
        padding: 20px 25px 20px 20px; 
    }
    .flex-price-boxes{
        padding-left: 120px;
        padding-right: 120px;
    }
    .faq-section{
        padding: 20px 25px 20px 20px;
    }
    .free-trial-section{
        height: 210px;
        padding: 40px 0px 20px 0px;
    }
    .footer-links-section{
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 20px;
        padding: 30px 25px 20px 20px;
    }
    .footer-section{
        padding:40px 0px 20px 0px;
    }
}
@media screen and (min-width:1024px) and (max-width:2560px){
    .landwind-logo{
        width: 40px;
    }
    .navbar-brand{
        font-weight:500 ;
        font-size:1.4rem !important;
    }
    .navbar-nav a:is(:link, :active, :visited).active{
        color:rgb(93, 63, 211);
    }
    .nav-link{
        font-weight: 500!important;
        font-size: 1rem!important;
    }
    .navbar-nav{
        display: flex;
        justify-content: space-evenly;
        margin-left: 100px;
        width:600px;
    }
    .hero-section{
        display:flex;
        align-items: center;
        padding-top: 30px;
    }
    .hero-icon-div{   
        display: flex;
        align-items: center;
    }
    .hero-banner{
        width: 400px;
    }
    .hero-text{
        font-size:2.6rem!important;
    }
    .hero-paragraph{
        font-size: 1.2rem;
    }
    .hero-links-div{
        position: relative;
        top:10px;
        display: flex;
        justify-content: space-between;
        width:365px;
     }
     .hero-icon-div{
         padding-left:20px;
         padding-right:20px;
     }
     .brands-icon-section{
        display: flex;
        justify-content: space-around;
        padding-top:25px;
        padding-bottom: 50px;
     }
     .sub-hero-icon{
        width: 36px;
    }
    .features-section{
        padding:100px 30px 50px 20px;
        height: 1100px;
    }
    .feature-one-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 400px;
    }
    .feature-one-img{
        display: block;
        width: 425px;
    }
    .feature-one-paragraph{
        font-size: 1rem!important;
    }
    .part-feature-one{
        padding-right: 50px;
    }
    .feature-two-div{
        margin-top:60px;
    }
    .part-feature-two{
        padding-left:50px;
        padding-right: 0px!important;
    }
    .stat-section{
        display: flex;
        padding:100px 30px 50px 20px;
    }
    .stat-one{
        height: 340px;
        padding-right:100px;
    }
    .stat-examples-div{
        height: 175px;
    }
    .mini-stat-div{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
    }
    .client-review{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .testimonial-section{
        padding:60px 130px 60px 130px;
    }
    
    .price-title-paragraph{
        padding: 13px 130px 5px 130px!important;
    }
    .flex-price-boxes{
        display: flex;
        justify-content: space-around;
        padding-left: 25px;
        padding-right: 25px;
    }
    .price-box{
        width:300px;
    }
    .faq-section{
        padding:0px 130px 60px 130px;  
    }
    .free-trial-section{
        height: 250px;
        padding: 60px 0px 50px 0px;
    }
    .footer-links-section{
        display:flex;
        justify-content: space-around;
        padding: 60px 50px 50px 0px;
    }
    .footer-section{
        height:230px;
        padding: 60px 50px 50px 60px;
    }
}
@media screen and (min-width:1200px) and (max-width:1440px){
    .navbar{
        padding-left: 100px!important;
        padding-right: 200px!important;
    }
    .hero-section{
        padding-left: 100px!important;
        padding-right: 50px!important;
    }
    .hero-text{
        font-size:3.5rem!important;
    }
    .hero-paragraph{
       padding-right: 60px;
    }
    .hero-banner{
        width:550px;
    }
    .brands-icon-section{
        padding-left: 50px!important; 
        padding-right: 50px!important;
    }
    .features-section{
        padding-left: 100px!important;
        padding-right: 100px!important;
    }
    .feature-one-img{
        width:550px;
    }
    .stat-section{
        padding-left: 100px!important;
        padding-right: 100px!important;
    }
    .testimonial-section{
       padding: 100px 300px 100px 300px;
    }
    .flex-price-boxes{
        padding-left:100px;
        padding-right: 100px;
    }
    .price-title-paragraph{
        padding: 13px 360px 5px 360px!important;
    }
    .price-box{
        width:370px;
    }
    .faq-section{
        padding: 0px 360px 80px 360px;
    }
    .free-trial-section{
        height: 250px;
        padding: 60px 0px 50px 0px;
    }
    .footer-links-section{
        padding: 60px 60px 60px 60px;
    }
}
@media only screen and (min-width:2559px) and (max-width:2560px){
    .navbar{
        padding-left: 650px!important;
        padding-right: 650px!important;
    }
    .hero-section{
        padding-left: 650px!important;
        padding-right: 650px!important;
    }
    .hero-text{
        font-size:3.5rem!important;
    }
    .hero-paragraph{
       padding-right: 60px;
    }
    .hero-banner{
        width:550px;
    }
    .brands-icon-section{
        padding-left: 600px!important; 
        padding-right: 600px!important;
    }
    .features-section{
        padding-left: 650px!important;
        padding-right: 650px!important;
    }
    .feature-one-img{
        width:650px;
    }
    .stat-section{
        padding-left: 650px!important;
        padding-right: 650px!important;
    }
    .testimonial-section{
       padding:100px 900px 100px 900px;
    }
    .price-title-paragraph{
        padding: 13px 900px 5px 900px!important;
    }
    .flex-price-boxes{
        padding-left:650px;
        padding-right: 650px;
    }
    .price-box{
        width:370px;
    }
    .faq-section{
        padding: 0px 900px 80px 900px;
    }
    .footer-links-section{
        padding:80px 650px 60px 650px; 
    }
}